.user-page {
    max-width: 400px;
    margin: 0 auto;
    /* padding: 40px; */
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .main {
    height: 640px;
    width: 100%;
  }

  .srow{
    width:100%;
    height: 640px;
  }
  
  .user-page h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .user-page form {
    display: flex;
    flex-direction: column;
  }
  
  .user-page label {
    margin-bottom: 8px;
    color: #555;
  }
  
  .user-page input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .user-page button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .user-page button:hover {
    background-color: #0056b3;
  }
  
  .user-page button:focus {
    outline: none;
  }
  
  .user-page .message {
    margin-top: 10px;
    text-align: center;
    color: green;
  }
  
  /* .btn  {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
  } */

  /* UserSideBar.css */

  .side-bar {
    top: 0;
    position: sticky;
    background-color: rgb(8, 24, 95);
    color: white;
    height: 100vh; /* Ensure sidebar takes full height of viewport */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds viewport height */
    z-index: 100; /* Ensure sidebar is above other content */
  }

