
/* ul {
    list-style-type: none;
    justify-content: space-around;
    align-items: start;
}
li {
    margin-bottom: 5px;
}
.logout-btn {
    display: flex;
    align-items:center ;
}
a {
    text-decoration: none;
    color: white;
}
 li :hover {
    color: rgb(235, 68, 68);
 } */

